// TODO : Fix CSS...
.marker-container {
  width: 40px;
}

.marker-container .marker-img {
  width: 23px;
  height: 35px;
}

.marker-container .marker-label {
  display: inline-block;
  text-shadow: -1px 0 #F2F1F6, 0 1px #F2F1F6, 1px 0 #F2F1F6, 0 -1px #F2F1F6;
  margin-top: 3px;
  font-size: 13px;
  font-weight: 700;
}