.tour-spot-list-view {
    width: 70vw;
    padding-bottom: 20px;

    .ant-list .ant-list-pagination {
        text-align: center;
    }

    .title {
        padding: 20px 0 0 20px;
        font-weight: 700;
        color: #E81123;
        letter-spacing: -1px;

        svg {
            stroke: #E81123;
            stroke-width: 25px;
            font-weight: 900;
        }
    }

    .ant-list-lg .ant-list-item {
        padding: 15px;
    }
    .ant-list-item {
        cursor: pointer;
        display: flex;

        &:hover,
        &:focus {
            transition: 0.2s;
            background: rgba(229, 58, 64, 0.1);

            .item-image-container img {
                transform: scale(1.1);
                transition: 0.3s;
            }
        }

        .item-image-container {
            width: 70px;
            height: 70px;
            overflow: hidden;
            display: flex;
            border-radius: 5px;
            margin-left: 10px;

            img {
                width: 100px;
            }
        }

        .item-title {
            letter-spacing: -1px;
            font-weight: 700;

            svg {
                margin-right: 5px;
            }
        }

        .item-description {
            letter-spacing: -0.8px;
            line-height: 1.5;
        }

        .ant-list-item-meta {
            margin-bottom: 0;

            .ant-list-item-meta-title {
                margin-bottom: 5px;
            }
        }
    }
}
