header {
    position: absolute;
    top: 0;
    background: white;
    z-index: 2;
    width: 100%;
    height: 65px;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-logo {
    height: 45px;
}