.map-header {
    .ant-picker {
        z-index: 10;
        height: 35px;
        width: 250px;
        position: absolute;
        transform: translate(-50%, 0%);
        top: 85px;
        border-radius: 20px;

        .ant-picker-input input {
            text-align: center;
            letter-spacing: -0.5px;
        }
    }
}